{% extends "base.html" %}
{% block content %}

<div class="container my-3 py-4">
    <div class="row">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-control form-control-lg col-4 mb-3">
                {{ form.firstname.label }} {{ form.firstname() }}
            </div>
            <div class="form-control form-control-lg col-4 mb-3">
                {{ form.lastname.label }} {{ form.lastname() }}
            </div>
            {{ form.submit(class="btn btn-warning col-2") }}
        </form>

        <table class="table table-sm table-striped my-4">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">#</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="col-1">{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}